.App {
  text-align: center;
}


ul{
  list-style: none;
}

input {
  border: 2px solid #151515;
  margin-left: 10px;
}
input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.541);
}
input:invalid:focus {
  background-image: linear-gradient(rgba(247, 103, 127, 0.781), lightgreen);
}