.App {
  text-align: center;
}

body{
  background-color: #151515;
  color: white;
}


ul{
  list-style: none;
}

input {
  border: 2px solid #151515;
  margin-left: 10px;
}
input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.541);
}
input:invalid:focus {
  background-image: linear-gradient(rgba(247, 103, 127, 0.781), lightgreen);
}

.card-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.card-box{
  width: 300px;
  height: 100px;
  background: #151515;
  position: relative;
  transition: 225ms;
  justify-self: center;
  margin: 15px 0;
  
  
}

.card-inner{
  position: absolute;
  transition: 225ms;

}

.card-inner:hover{
  margin-left: 20px;
}

button{
  color: white;
  background: transparent;
  padding:5px 14px;
  letter-spacing: 1px;
  border: 1px solid white;
  margin-left: 10px;
  cursor: pointer;
  transition: 225ms;
  font-weight: bold;
  text-transform: uppercase;
}

.card-box:hover .yellow{
  border:2px solid rgba(255, 255, 0, 0.4);
  font-weight: bolder;
}

.card-box:hover .green{
  border:2px solid rgba(0, 128, 0, 0.4);
  font-weight: bolder;
}

.yellow:hover{
  background-color: rgba(255, 255, 0, 0.4);
  color: black;
  border-radius: 2px;
  border: none;
  font-weight: bolder;
}

.green:hover{
  background-color: rgba(0, 128, 0, 0.4);
  color: black;
  border-radius: 2px;
  border: none;
  font-weight: bolder;
}

.card-box:hover .red{
  border:2px solid red;
  font-weight: bolder;
}

.red:hover{
  background-color: red;
  color: black;
  border-radius: 2px;
  border: none;
  font-weight: bolder;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.nav-link{
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
  position: relative;
 
}

.nav-link:after{
  content:'';
  position:absolute;
  width: 0px;
  height: 2px;
  background:white;
  bottom:-5px;
  left: 0;
  border-radius: 100%;
  transition: 225ms;
}

.nav-link:hover:after{
  width: 100%;
}


.addform{
  padding:50px 0;
  width: 30%;
  margin-left: 35%;
 
}

.form-input{
  padding:10px;
  display: flex;
  justify-content: space-between;
}

input{
  padding:5px;
  outline: none;
  background: transparent;
  width: 60%;
  border-radius: 3px;
  color: white;
  border: 1px solid white;
}

input:focus{
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}


.logo{
  position:absolute;
  top: 5px;
  left: 5px;
  padding:0;
  margin: 0;
}

.add-title{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.date{
  color: rgba(255, 255, 255, 0.5);
}